body{
    margin: 0;
    background-color: #ff0000;
}
.calculator{
    max-width: 360px;
    background: #ff0000;
}
.number_buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 0;
}
.calculator_numbs{
    font-family: 'Graduate', cursive;
    background:#eeeeee;
    font-size: 40px;
    border: 0;
    padding: 5px;
    text-align: right;
    width: 97%;
    height: 100px;
}
.green_btn{
    grid-column: span 2;
}
.btn-long{
    grid-column: inherit;
}
.btn{
    font-size: 16px;
    height:70px;
    border: 1px solid #ff0000;
}