html{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #ff0000;
}
.calculator{
    border-radius:10%;
    box-shadow: 0 0 50px 0 rgb(117, 18, 18);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5em;
    max-width: 30em;
}
.display_screen{
    background-color: #eeeeee;
    color:#000000;
    font-family: 'Graduate', cursive;
    font-size: 3.5em;
    height: 1em;
    padding: 1% 1.3%;
    text-align: right;

}
.cal_btns{
    display: grid;
}