body {
    font-size: 20px;
    box-sizing: border-box;
    background-color: #041e42;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Graduate', cursive;
}
.calculator {
    border: 2px solid grey;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}
.cal_display {
    width: 100%;
    font-size: 50px;
    height:80px;
    border: 0;
    background-color: grey;
    color: #ffffff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}
button {
    height: 50px;
    background-color:#c8102e;
    border: 1px solid #ff0000;
    border-radius: 2px;
    font-size: 32px;
    color: #ffffff;
    background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04);
}